// par치metros globales
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; // 游댏 Esto evitar치 que cualquier contenido se desborde horizontalmente
}

.titulos 
{
    color: $verde;
    text-transform: uppercase;
    font-family: 'titulos', sans-serif;
}

h1 {
    @extend .titulos;
    width: 42%;
    font-size: 3em;

    @media (max-width: 1227px)
    {
      width: 50%;
    }
    @media (max-width: 1034px)
    {
      width: 60%;
    }
    @media (max-width: 867px)
    {
      width: 70%;
    }
     @media (max-width: 747px)
    {
      width: 80%;
    }
    @media (max-width: 658px)
    {
      width: 90%;
    }
    @media (max-width: 595px)
    {
      font-size: 2.8em;
    }
    @media (max-width: 589px)
    {
      font-size: 2.5em;
    }
    @media (max-width: 495px)
    {
      font-size: 2.1em;
    }
      @media (max-width: 421px)
    {
      font-size: 1.9em;
    }
}

h2 {
    @extend .titulos;
    font-size: 2em;
}

p 
{
    font-family: 'texto', sans-serif;
}

span
{
    font-family: 'leyenda', sans-serif;
}

small
{
    font-family: 'menu', sans-serif;
}

.texto 
{
    width: 90%;
    margin-left: 10px;
}

.intro 
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.menta 
{
    color: $verde;

    * {
    color: $verde;}

    .enlace {
    color: $verde;
    border-bottom: $rosa dotted 2px;

    &:hover {color: $rosa; }
    }
}

.rosa 
{
    color: $rosa;
    
    * {
    color: $rosa;}

    .enlace {
    color: $rosa;
    border-bottom: $verde dotted 2px;

    &:hover {color: $verde; }
    }
}

#principal 
{
    position: relative;
}

// men칰 de paneles
#indicator {
  position: fixed;
  top: 100px;
  right: 30px;
  z-index: 1000;
  max-width: 200px;

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    font-size: 0.1em;
    color: $rosa;
    margin: 0;
    padding: 0.25rem;
    transition: all 0.3s ease;
    text-shadow: 1px 2px 4px #000;

    i.material-icons {
      margin: 0;
      transition: margin 0.3s ease;
    }

    &:hover {
      font-size: 0.8em;
      transform: scale(1.2);
      
      &::after {
        opacity: 1;
      }
    }

    &::after {
      content: '';
      opacity: 0;
      margin-left: 0.5rem;
      transition: opacity 0.3s;
      white-space: nowrap;
    }

     &.active {
      font-size: 0.8em;
      transform: scale(1.2);
      color: lighten($rosa, 10%);
      text-shadow: 2px 3px 6px #000;
      transition: all 0.3s ease;
      background-color: transparent;

      i.material-icons {
        margin-right: 0;
        transform: scale(1.3);
        transition: all 0.3s ease;
      }
    }

    // Diferentes textos mostrados al hacer hover
    &:nth-child(1):hover::after {
      content: 'Intro';
    }
    &:nth-child(2):hover::after {
      content: 'Tierras';
    }
    &:nth-child(3):hover::after {
      content: 'Energ칤a';
    }
    &:nth-child(4):hover::after {
      content: 'Periodismo';
    }
    &:nth-child(5):hover::after {
      content: 'Conversaci칩n';
    }
    &:nth-child(6):hover::after {
      content: 'Equipo';
    }
  }
    @media (max-width: 600px)
    {
      right: 10px;
    }
    @media (max-width: 485px)
    {
      right: 3px;
    }
}

// paneles
.section 
{
    min-height: 100vh;
    width: 100%;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.fondo_menta
{background-image: url("../assets/images/5_Arboles_texturas.svg");}
.fondo_mandarina
{background-image: url("../assets/images/6_Arboles_texturas.svg");}
.rosa_tierra
{background: url("../assets/images/separador_rosa_arbolinea.png") no-repeat center;}
.verde_empresa
{background: url("../assets/images/separador_menta_cintillo.png") no-repeat center;}
.rosa_empresa
{background: url("../assets/images/separador_rosa_cintillo.png") no-repeat center;}
.verde_tierra
{background: url("../assets/images/separador_menta_arbol.png") no-repeat center;}

.separador
{
    height: 101vh;
    min-width: 100%;
    margin: 0;
    padding: 0;
    background-size: 100%;//cover;
    opacity: .9;
    margin: 3em 0 0 0;
}

.separador_peq
{
  @extend .separador;
  height: 100px;
}

.apertura 
{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; // 16:9 aspect ratio (9 / 16 = 0.5625)
  overflow: hidden;

    &__video
    {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; // llena el contenedor recortando si es necesario
      //border: $verde solid 2px;
    }

    @media (max-width: 1200px)
    {
      top: 70px;
    }

} 

.encabezado {
  display: grid;
  grid-template-columns: 1fr 1fr;      // Dos columnas iguales
  grid-template-rows: auto auto;      // Dos filas
  gap: 1rem;
  align-items: left;
  justify-content: flex-start;
  margin-bottom: 2em;
  // Fila 1: ocupa ambas columnas
  .fila1 {
    grid-column: 1 / 3;               // De columna 1 a 3 (ocupa dos columnas)
    padding: 1rem;
  }

  // Fila 2: dos columnas
  .columnaA {
    display: grid;
    grid-template-rows: 1fr 1fr;      // Divide columna A en dos partes verticales
    gap: 1rem;
    display: block;
    justify-content: flex-start;
    
  }

  .columnaA1 {align-items: bottom;} 
  .columnaA2 {align-items: top;
    padding: 1rem;
  }

  .columnaB {
    display: flex;
    justify-content: flex-end; // alinea horizontalmente a la derecha
    align-items: center;

    .sello {
        height: 6em;
        width: 6em;
        
        padding: 1rem;
        background-image: url("../assets/images/3_Mano_circulo.png");
        background-size: cover;
        opacity: .9;
        margin-right: 2em;
        }
  }

  @media (max-width: 518px)
    {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto; 

    .columnaA {
      grid-column: 1;
      grid-row: 2;
    }

    .columnaB {
      grid-column: 1;
      grid-row: 3;
    }
    }
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;      // Dos columnas iguales
    grid-template-rows: auto auto;      // Dos filas
    justify-content: center;// flex-start;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    padding: 0;
    margin: 4em auto;
    gap: 1rem;
}

.card
{
    width: 100%;
    min-height: 22em;
    padding: 3px;
    background-color: #000;
    transition: all .8s;
    max-width: 25em;

    //card__header
    &__header 
    {
        position: relative;
        height: 15em;
        text-transform: uppercase;
        //card__header-img
        &-img 
        {
            position: absolute;
            top: 0px;
            width: 100%;
            display:block;
            height: 15em;
            opacity: .7;
            overflow: hidden;
        }

        //card__header-tag
        &-tag 
        { 
            position: absolute; 
            top: 0;
            left: 0; 
            padding: 5px; 
            color: #000; 
            //background-color: $rosa; 
            font-family: 'menu', sans-serif;
            display: inline-block;
            font-size: small;
            border-bottom-left-radius: 0;
            text-transform: uppercase;
        }

        //card__header-title
        &-title 
        {
            position: absolute; 
            top: 60%; 
            left: 5px;
            font-family: 'titulos', sans-serif;
            font-size: 1.2em;
            text-align: left;
           // color: #fff;
        }
    }

    &__descrip 
    {
        margin: 20px;
        line-height: 1;
        font-size: 0.8em;

        p
        {
            line-height: 1;
            
            margin-top: 10px;
        }

        &-autor 
        {
            font-family: 'texto', sans-serif;
            text-transform: uppercase;
        }
    } 
}

@mixin colorear_cards($color)
{
  .card__header-tag, .card_total__header-tag { background-color: $color; }
  .card__descrip, 
  .card__header-title, 
  .card_total__descrip-title, 
  .card_total__descrip-autor, 
  .card_total__descrip p { color: $color; }

  .card:hover, .card_total:hover 
    {
        border: solid 1px $color;
    }
}

.youtube-wrapper {
  position: relative;
  width: 80%;
  max-width: 1200px;//640px;
  aspect-ratio: 16 / 9;
  cursor: pointer;
  margin: 2em auto;

  .youtube-thumbnail {
    width: 100%;
    height: 100%;
    position: relative;
    padding:3px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .play-button {
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translate(-50%, -50%);
      width: 68px;
      height: 48px;
      //background: url('https://img.icons8.com/ios-filled/100/ffffff/play-button-circled.png') no-repeat center;
      background: url('../assets/images/play-button-rosa.png') no-repeat center;
      background-size: contain;
      opacity: 0.8;
    }

    .tag 
    { 
            position: absolute; 
            top: 3px;
            left: 3px; 
            padding: 5px; 
            color: #000; 
            background-color: $rosa; 
            font-family: 'menu', sans-serif;
            display: inline-block;
            font-size: small;
    }

    .title 
    { 
            position: absolute; 
            top: 43%; 
            left: 15%;
            width: 80%;
            font-family: 'titulos', sans-serif;
            text-align: left;
            color: $rosa;
            text-transform: uppercase;
    }

    @media (max-width: 650px)
    {
      .title 
      { 
        font-size: 1.2em;
        left: 13%;
      }
      .play-button {
        top: 40%;
        left: 0;
        //transform: translate(-10%, -50%);
        transform: scale(0.7);
      }
    }

    @media (max-width: 650px)
    {
      .title 
      { 
        font-size: 1em;
        top: 48%;
      }
      .play-button {
        top: -6.5px;
        left: 85px;
        transform: scale(0.6);
      }
      &:hover {
        .play-button {background-color: #000;}
      }
    }
  }

    &:hover
    {
        border:solid 1px $rosa;
    }

    &::after
    {
    border:solid 1px $rosa;
    }  
}

.energia {
  @extend .cards; //igual que .Tierras
  grid-template-columns: 1fr 0.5fr 1fr;      // excepto que este tiene tres columnas, la de la mitad m치s peque침a
  grid-template-rows: auto;      // una fila
  @include colorear_cards($verde);

  // Col 1: Colombia
  &__col1, &__col3 {
    @extend .card;
  }

  // Col 2: R칤o Orinoco
  &__col2 {
    display: grid;
    grid-template-rows: 1fr 1fr;      // Divide columna A en dos partes verticales
    gap: 1rem;
    display: block;
    justify-content: flex-start;
  }
}

// Animaciones del r칤o
.map-line-container {
  position: relative;

  svg {
    width: 100%;
    height: 100%;
  }

  .wavy-line {
    stroke: $verde;
    fill: none;
    stroke-width: 3;
    stroke-linecap: round;

    // patr칩n punteado irregular
    //stroke-dasharray: 6 4 2 8 3 5;
    stroke-dasharray: 15 8 20 8 30 8;
    stroke-dashoffset: 0;

    // animaci칩n infinita tipo flujo de r칤o
    animation: flowR칤o 3s linear infinite;
  }

  .marker {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    opacity: 1;

    .dot {
      width: 0.8em;
      height: 0.8em;
      background-color: $verde;
      border-radius: 50%;
      box-shadow: 0 0 4px $verde;
    }

    .label {
      font-size: 0.8em;
      color: $verde;
      white-space: nowrap;
      font-style: italic;
    }
  }
}

#rio_desktop 
{
  width: 3em;
  height: 21em;
  margin: 2em auto;
  @extend .map-line-container;

  .marker {
    transform: translate(20%, 200%); // coordenadas que pediste

    .label {
      font-size: 0.6em;
    }    
  }
}

#rio_mobile
{
  width: 100%;
  height: auto;
  margin: 2em auto;
  @extend .map-line-container;

  .marker 
  { 
    transform: translate(0, -10px); 
    gap: 1rem;
  }

  display: none;
}
// Animaci칩n continua del flujo
@keyframes flowR칤o {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -89;//-28; // suma del patr칩n: 6+4+2+8+3+5
  }
}

.tierras
{
  @extend .cards;
  @include colorear_cards($rosa);
  gap: 1rem;
}

.card_horizontal
{
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1159px)
    {
      width: 90%;
    }
  @media (max-width: 1082px)
    {
      width: 95%;
    }
}

.card_total
{
    margin-top: 5em;
    width: 100%;
    //min-height: 19em;
    height: 19em;
    padding: 3px;
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;      // Dos columnas iguales
    grid-template-rows: auto;      // Dos filas
    width: 100%;
    //max-width: 25em;

    //card__header
    &__header 
    {
      grid-column: 1;
      position: relative;
      text-transform: uppercase;
        //card__header-img
        &-img 
        {
            position: absolute;
            top: 0px;
            width: 100%;
            display:block;
            height: 99%;
            opacity: .7;
            overflow: hidden;
            padding-bottom: 0;
        }

        //card__header-tag
        &-tag 
        { 
            position: absolute; 
            top: 0;
            left: 0; 
            padding: 5px; 
            color: #000; 
            //background-color: $rosa; 
            font-family: 'menu', sans-serif;
            display: inline-block;
            font-size: small;
            border-bottom-left-radius: 0;
        }
    }

    &__descrip 
    {
      grid-column: 2;
      margin: 20px;
      line-height: 1;
      font-size: 0.8em;
      padding-right: 70px;

      &-title 
        {
          font-family: 'titulos', sans-serif;
          font-size: 1.8em;
          text-align: left;
          text-transform: uppercase;
          margin-bottom: 2em;
        }
      p
        {
          line-height: 1;  
          margin-top: 10px;
          padding-bottom: 0;
        }

        &-autor 
        {
            font-family: 'texto', sans-serif;
            text-transform: uppercase;
        }
    } 

    @media (max-width: 1159px)
    {
      .card_total__descrip-title {margin-bottom: 1em; }
      grid-template-columns: 0.7fr 1.3fr;
      height: 14em;
    }

    @media (max-width: 1030px)
    {
      .card_total__descrip {
        padding-right: 30px;
        margin: 10px;
      }
      height: 13em;
    }

    @media (max-width: 932px)
    {
      grid-template-columns: 1fr;
      height: 33em;
      max-width: 25em;
      margin-left: auto;
      margin-right: auto;
      .card_total__header {grid-column: 1; grid-row: 1; height:15em;}

      .card_total__descrip {
        grid-column: 1; 
        grid-row: 2; 
        position: relative; 
        top:0;
        padding-right: 20px;
        margin-top: 10px;
      }
    }
}

#etica
{
  @include colorear_cards($rosa);
}

#social
{
  @include colorear_cards($verde);
}

  .ruta
  {
    width: 50%;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;

    &__pieza 
    {
      background-color: #000;
      height:200px;
      padding: 2px;
      margin-bottom: 2em;

      display: grid;
      grid-template-columns: 0.5fr 1fr; 
      grid-template-rows: auto;
      
      transition: all 1s;

      &-header
      {
        position: relative;
        background-color: $verde;
        
        &-img {
          @extend .card__header-img;
          width: 100%;
          height: 99%; 
          background-color: $verde; 
          background-size: contain;         
          background-position: center center;
          background-repeat: no-repeat;   
        }
      }

      &-descrip
      {
        padding: 2em 4em 0 1em;
        
        span {
          text-transform: uppercase;
          font-family: 'menu', sans-serif;
          font-size: 0.9em;
          color: #000;
          background-color: $verde;
          padding: 0.5em;
        }

        p {
          font-family: 'titulos', sans-serif;
          font-size: 1em;
          text-transform: uppercase;
          color: $verde;
          margin-top: 1em;
          margin-bottom: 0;
        }

        small 
        {
          font-family: 'texto', sans-serif;
          letter-spacing: 1px;
          color: $verde;
          margin-top: 0;
          margin-bottom: 0.5em;
        }
      }

      &:hover
      {
        border: solid 1px $verde;
      }
    }
    
    @media (max-width: 928px)
    {
      width: 90%;
    }

     @media (max-width: 928px)
    {
      .ruta__pieza {height:150px;}
      .ruta__pieza-descrip
      {padding: 1em 1em 0 1em;}
    }
  }

.pieza1
{background-image: url("https://mutante.org/wp-content/uploads/2025/05/01-100-jpg.webp");}
.pieza2
{background-image: url("https://mutante.org/wp-content/uploads/2025/05/Poster-jpg.webp");}
.pieza3
{background-image: url("https://mutante.org/wp-content/uploads/2025/05/01-100_11zon.jpg");}

//responsive
@media (max-width: 1000px)
{

  .tierras, .energia
  {
    grid-template-columns: 1fr;      // excepto que este tiene tres columnas, la de la mitad m치s peque침a
    grid-template-rows: auto auto auto;      // una fila
  }  
   
  #rio_desktop
  {
    display: none;
  }  

  #rio_mobile
  {
    display: block;
  }  
}